body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#menu-container {
  display: flex;
  flex-direction: column;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.hidden-visibility {
  visibility: hidden;
}

.less-opacity {
  opacity: 0.2;
  transition: ease-in 0.5s;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out;
}
